$skin: 'black';
/*  白色皮肤是white  黑色皮肤是black  */
$version: 'old';
/*  new是新版  old 是旧版  */
// 登录页面颜色
$valiForm-background-color: #78a7d2;
$valiTxt-border-bottom-color: #b2dbe0;
$icon-background-color: #deeaf7;
$login-input-border-color: #dedede;
$check-color: #ff9231;
$check-label-color: #666666;
$hover-color: #0074d9;
$logoincolor: #84888d;
$loginBtn-background-color: #a3cbf1;
$loginBtn-color: #6182ae;
$tab-background-color: #252b2e;
$table-border-color: #121618;
$valiTxt-color: #5d5d5d;
// 自定义颜色
$tabactive: #414d58;
$blackbg: #171c20;
$white: #ffffff;
$black: #000000;
$white1: #303942;
$white-color: #ffffff;
$black1: #0e0e0f;
$grey: #7a8a94;
$greybg1: #282e34;
$greybg2: #343e48;
$greybg3: #262f36;
$grey1: #88a0ae;
$grey2: #343d46;
$grey3: #424e5a;
$grey4: #2d353c;
$grey5: #1f2528;
$grey6: #24292b;
$grey7: #cccccc;
$grey8: #dddddd;
$grey9: #acb8c0;
$grey10: #414b51;
$grey11: #65696d;
$grey12: #31383c;
$grey1bg1: #1a1f23;
$blue: #0d96ff;
$blue1: #3163ba;
$blue2: #4179db;
$blue3: #2361a3;
$blue4: #2b475c;
$blue5: #a0b5c9;
$blue6: #0c3485;
$bule7:#409EFF;
$bluebg: #0e2f4c;
$blueBorder: #103474;
$bluebg1: #42a4f7;
$bluebd1: #153a5b;
$inputcolor: #4b5359;
$tdcurrent: #3a5a77;
$thbg: #212629;
$thcolor: #fffdd3;
$tdborder: #2e3539;
$yellow: #ffc017;
$yellow1: #ffbd1d;
$yellow2: #ffbd1d;
$yellowbg1: #ffae00;
$yellowbg2: #886b34;
$yellowbd1: #553914;
$yellowbg3: #3e3830;
$yellowbg: #463510;
$red: #ff2b2b;
$redbg: #ff6363;
$green: #1ff195;
$purple: #a1aefe;
$purplebg: #bc54f3;
$lightwhite: #e5e5e5;
$sort: #404a4f;
$tabbg: #30383e;
$border: #2a2f33;
$menubg: #3e4549;
$submenubg: #1e2326;
$submenubg1: #30373a;
$fastbg: #212e3a;
$selectbg: #15202b;
$selectbg1: #0c95ff;
$numberbg: #135088;
$minus: #0d8aeb;
$trhover: #003867;
$disable: #3c4549;
$disable1: #4f575c;
$wrapbg: #1d2125;
$tablebg: #202528;
$datePickerbg: #2a333c;
$monthPrev: #c0c4cc;
$curMonth: #606266;
$readbg: #333b46;
$inputshadow: #4f5059;
$logininput: #8fabca;
$currentRow: #18335a;
$fillbg: #606871;
$lightfill: rgba($fillbg, 0.3);
$currentbg: #3d454b;
$zhanghu1: #a184ff;
$zhanghu2: #ff798f;
$zhanghu3: #50e4ff;
$zhanghu4: #fefc59;
$stock: #acb8c1;
$scrollbarBg:#4c5154;
$tableBorder: #274b6e;
$tableBackground: #1e2226;
$tableCurrentBg: #3b404b;
$tabHover: #5b82e4;
$tabDefault: #38414c;
$quoteRise: #0a5735;
$quoteFall: #6c1008;
$borderK: #0866b8;
$orange: #422b0d;
$hover1: #1b2232;
$selected1: #1e2f53;
$border1: #496c80;
$border2: #454a4f;
$white1:#c6d5de;
$linear1: #4e6470;
$linear2: #495860;
$linear3: #3f454a;
$linear4: #3d4348;
$linear5: #5c7684;
$linear6: #566771;