$width: 100%;
$height: 100%;
body {
    overflow: hidden;
}
// 表单三列布局
.threeColumns {
    .el-form-item {
        width: 33% !important;
    }
}

/*滚动条样式*/
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbarBg;
    // border: $table-border-color solid 0.02rem;
    // background-color: $grey4;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    background-color: transparent;
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: $table-border-color;
    background-color: transparent;
}

::-webkit-scrollbar-corner,
.el-input::-webkit-scrollbar-corner {
    // background-color: $table-border-color !important;
    background-color: transparent;
}

// input placeholder样式重制
:-moz-placeholder {
    color: $grey8;
    opacity: 1;
}

::-moz-placeholder {
    color: $grey8;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: $grey8;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: $grey8;
    opacity: 1;
}

.el-input__inner::-webkit-input-placeholder,
.el-textarea__inner::-webkit-input-placeholder {
    color: $grey8;
    opacity: 1;
}
// 输入框自动填充默认样式重置
input:-webkit-autofill {
    -webkit-text-fill-color: $lightwhite !important;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1000px $lightfill inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:focus {
    -webkit-text-fill-color: $lightwhite !important;
}
// 正在加载中背景色
.el-loading-mask {
    background: rgba($fillbg, 0);
}

.el-table__fixed-right::before,
.el-table__fixed::before,
.el-table::before {
    background: transparent;
    height: 0;
}
em,
i {
    font-style: normal;
}
.none {
    display: none;
}
// element默认样式重置
.el-table--border::after,
.el-table--group::after {
    width: 0;
}
// 灰色
.grey {
    color: $grey !important;
}
// 黄色
.yellow {
    color: $yellow !important;
}

// 黄色背景色
.yellowbg1 {
    background-color: $yellowbg1 !important;
}
// 红色
.red {
    color: $red !important;
}

// 绿色
.green {
    color: $green !important;
}



// 紫色
.purple {
    color: $purple !important;
}

// 浅白色
.lightwhite {
    color: $lightwhite !important;
}
// 白色
.white {
    color: $white !important;
}
// 蓝色
.blue {
    color: $blue !important;
}

// 蓝色背景色
.bluebg1 {
    background-color: $bluebg1 !important;
}
// 深褐色背景色
.blackbg1 {
    background: $submenubg !important;
}

// 绿色背景
.greenBg {
    background-color: $quoteRise !important;;
}

// 绿色背景
.redBg {
    background-color: $quoteFall !important;;
}

// margin
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.mr10 {
    margin-right: 10px;
}

.ml15 {
    margin-left: 15px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}
.mt30 {
    margin-top: 30px !important;
}
.mt20 {
    margin-top: 20px;
}
.mr10 {
    margin-right: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.pt15 {
    padding-top: 15px;
}

.tr {
    text-align: right !important;
}
.tc {
    text-align: center !important;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.el-table th.is-leaf {
    border-bottom: 1px solid $blackbg;
}
.el-table--border th.gutter:last-of-type {
    width: 0 !important;
    border-bottom: 1px solid $blackbg;
}
// 表格样式
.commonTable.el-table {
    .el-table__header-wrapper {
        .el-table__header {
            th {
                padding: 0;
                height: 40px;
                background: #D5D4D4;
                font-size: 16px;
                color: black;
                border-right: 1px solid #EBEEF5;
                .cell {
                    line-height: 40px;
                    color: #101010;
                    white-space: nowrap;
                }
            }
            th.is-leaf {
                border-bottom: 1px solid #D5D4D4;
            }
            .imgColumn.is-leaf {
                min-width: 40px;
                position: relative;
            }
        }
    }
    .el-table__body-wrapper {
        .el-table__body {
            td {
                padding: 0;
                height: 40px;
                font-size: 14px;
                border-right: 1px solid transparent;
                .cell {
                    line-height: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: #101010;
                    white-space: nowrap;
                    img,.el-image {
                        float: left;
                        max-width: 40px;
                        max-height: 40px;
                        .el-icon-picture-outline {
                            font-size: 40px;
                            color: #101010;
                        }
                    }
                }
            }
            td.imgColumn {
                min-width: 40px;
                position: relative;
            }
        }
    }
    .el-table__fixed-header-wrapper{
        @extend .el-table__header-wrapper;
    }
    .el-table__fixed-body-wrapper {
        @extend .el-table__body-wrapper;
    }
}
// 错误图片背景色
.el-image__error, .el-image__placeholder {
    background: transparent;
}
// 弹窗样式
.commonDialog {
    .el-dialog {
        min-height: 550px;
        margin-top: 0 !important;
        @include position(absolute, 50%, auto, auto, 50%);
        transform: translate(-50%, -50%);
        border: 6px solid #DCDCDC;
        @include rounded-corners(10px);
        .el-dialog__header {
            padding: 0 23px;
            height: 51px;
            background-color: #1890FF;
            @include rounded-corners(5px);
            .el-dialog__title {
                line-height: 51px;
                font-size: 16px;
                color: white;
            }
            .el-dialog__headerbtn {
                top: 0;
                right: 23px;
                .el-icon-close {
                    font-size: 25px;
                    color: white;
                    line-height: 51px;
                }
            }
        }
        .el-dialog__body {
            padding: 10px 29px;
            min-height: 479px;
        }
    }
}
// 弹窗里的选项卡样式
.dialogTabs.el-tabs {
    .el-tabs__header {
        border-bottom: 0;
        .el-tabs__nav-wrap {
            .el-tabs__nav {
                border: 0;
                .el-tabs__item {
                    width: 70px;
                    height: 24px;
                    line-height: 24px;
                    padding: 0;
                    text-align: center;
                    border: 1px solid #E4E7ED;
                    font-size: 14px;
                    @include rounded-corners(4px);
                }
                .el-tabs__item.is-active {
                    border-color: #1890FF;
                    color: #1890FF;
                    border-left: 1px solid #1890FF !important;
                }
                .el-tabs__item+.el-tabs__item {
                    border-left: 0;
                }
            }
        }
    }
}
// 表单样式
.commonForm.el-form {
    .el-form-item {
        margin-bottom: 19px;
        .el-form-item__label {
            font-size: 16px;
            color: #101010;
            line-height: 30px;
        }
        .el-form-item__content {
            line-height: 30px;
        }
    }
    .el-form-item.btnsLine {
        .el-form-item__content {
            margin-left: 0 !important;
            width: 100%;
            text-align: center;
        }
    }
}
// 输入框样式
.commonInput.el-input {
    width: 200px;
    height: 30px;
    .el-input__inner {
        height: 30px;
        line-height: 30px;
    }
}
// 文本域样式
.commonTextarea.el-textarea {
    .el-textarea__inner {
        width: 200px;
        height: 150px;
    }
}
// 下拉框样式
.commonSelect.el-select {
    .el-input {
        @extend .commonInput;
        .el-input__suffix {
            .el-select__caret {
                line-height: 30px;
            }
        }
    }
}

// 按钮样式
.commonButton.el-button {
    width: 80px;
    height: 30px;
    background: #1890FF;
    line-height: 30px;
    color: white;
    font-size: 16px;
    padding: 0;
    @include rounded-corners(4px);
}
.commonButton.el-button:hover {
    background: rgba(24, 14, 255, .8);
}
// 图片上传样式
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }

  // 菜单样式
  .commonMenus.el-menu {
    .el-submenu {
        .el-submenu__title {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
        }
        .el-submenu__title:hover {
            background: #D5D4D4 !important;
            > span {
                color: #000000;
            }
        }
        .el-menu--inline {
            .el-menu-item-group {
                .el-menu-item-group__title {
                    padding: 0 0 0 20px;
                    font-size: 16px;
                }
                .el-menu-item {
                    height: 40px;
                    line-height: 40px;
                   
                }
                .el-menu-item:hover {
                    a {
                        color: #1890FF;
                    }
                }
                a {
                    color: white;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
    }
    .el-submenu.is-opened {
        .el-submenu__title {
            background: #D5D4D4 !important;
        }
    }
  }
  // 操作按钮
  .operBtns {
    width: 100%;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #BBBBBB;
    .el-button {
        width: 80px;
        height: 25px;
        line-height: 25px;
        padding: 0;
        color: #1890FF;
        border: 0;
    }
    .el-button+.el-button {
        margin-left: 30px;
    }
}

// 分页样式
.pagination {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    .el-pagination {
        height: 28px;
    }
}
// 日期样式
.commonDatePicker {
    .el-input__inner {
        width: 200px;
        height: 30px;
    }
    .el-input__prefix {
        margin-bottom: 0 !important;
        .el-icon-date,.el-icon-time {
            line-height: 30px;
        }
    }
    .el-input__suffix {
        .el-input__icon {
            line-height: 30px;
        }
    }
}
// 时间样式
.commonTimePicker {
    @extend .commonDatePicker;
    .el-input__icon {
        line-height: 30px;
    }
}
.mt45 {
    margin-top: 45px;
}

.mt60 {
    margin-top: 60px;
}
// 查询条件搜索框
.conditionInput {
    width: 281px;
    height: 37px;
    color: #101010;
    font-size: 16px;
}
// 查询条件搜索按钮
.conditionBtn {
    width: 83px;
    height: 37px;
    text-align: center;
    padding: 0;
    margin-left: 54px;
    background: #1890FF;
    color: white;
}
.conditionBtn:hover {
    background: rgba(24, 144, 255, .8);
}
// 修改按钮
.editBtn.el-button {
    min-width: 80px;
    height: 24px;
    padding: 0;
    color: #1890FF;
    font-size: 16px;
    border: 0;
    background: transparent;
}
.editBtn.el-button:hover {
    background: transparent;
    color: rgba(24, 144, 255, .8);
}
// 查询条件
.search {
    width: calc(100% - 58px);
    padding: 10px 29px 0;
    font-size: 16px;
    color: #101010;
    border-bottom: 1px solid #BBBBBB;
    .fieldItem {
        display: inline-block;
    }
    .fieldItem+.fieldItem {
        margin-left: 15px;
    }
    .conditionBtn {
        margin-bottom: 10px;
    }
    .conditionInput {
      margin-right: 62px;
    }
    .commonInput {
      margin-bottom: 10px;
    }
    .el-button+.el-button {
      margin-left: 52px;
    }
    span {
        margin-bottom: 10px;
    }
    .commonSelect {
        margin-bottom: 10px;
    }
    .commonDatePicker {
        margin-bottom: 10px;
    }
    .commonTimePicker {
        .el-input__inner {
            margin-bottom: 10px;
        }
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner {
        width: 200px;
    }
  }
  .el-select-dropdown__item {
      padding: 0 20px;
  }
  .buttonBlocks {
    width: 100%;
    text-align: right;
}
.shortInput {
    .el-input__inner {
        width: 116px;
        height: 30px;
    }
}

.ml25 {
    margin-left: 25px;
}

::v-deep.commonRow.el-row {
    width: calc(100% - 20px);
    padding: 0 10px 10px;
    display: inline-flex;
    border-bottom: 1px solid #e3e3e3;
    .el-col {
        white-space: nowrap;
        height: 30px;
        line-height: 30px;
        display: inline-flex;
    }
    .el-col:last-child {
        text-align: right;
    }
}

.fl {
    float: left;
}

// 菜单图标颜色设置
.el-submenu [class^=el-icon-] {
    color: #1890FF;
}

// .el-input__suffix {
//     right: 20px;
// }

::v-deep.miniDialog{  
    .el-dialog{
        min-height: 200px;
        .button{
            margin-top: 10px;
        }
        .el-dialog__body{
            min-height: 100px;
            padding:10px 8px;
            .mt45{
                margin-top: 27px;
            }
        }
    }
}
* { touch-action: pan-y; }